<section>
  <div class="page-header">
    <h1 class="blue">{{vm.menu._id ? 'Edit Order' : 'New Order'}}</h1>
  </div>
  <div class="col-md-6">
    <div class="pink">Your Seat is <strong>57A</strong></div>
    <form name="vm.form.menuForm" class="form-horizontal" ng-submit="vm.save(vm.form.menuForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label blue" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.menu.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.menuForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Menu name is required.</p>
          </div>
        </div>
        <div class="well">
          <div class="form-group">
            <label for="optionsMenu" id="choose"><img class="icon" src="https://cdn2.iconfinder.com/data/icons/tasty-bites-icon-set/512/hambruger.png" width="26px" height="26px" alt="">Burgers</label><br>
            <select name="optionsMenu" id="optionsMenu" ng-model="vm.menu.option" multiple>
              <option class="hotDog" value="Hot Dog">Hot Dog.............$4</option>
              <option class="hamburger" value="Hamburger">Hamburger.........$8</option>
              <option class="cheeseburger" value="Cheeseburger">Cheeseburger....$9</option>
              <option class="beer" value="Beer">Beer...................$5</option>

            </select>
            <tt class="yourChoice">Your Choice is = {{vm.menu.option}}</tt><br/>

            <label for="optionsMenu" id="choose"><img class="icon" src="http://cliparts.co/cliparts/5cR/rkr/5cRrkrKca.png" width="26px" height="26px" alt="">Tacos</label><br>
            <select name="optionsMenu" id="optionsMenu" ng-model="vm.menu.taco" multiple>
              <option class="hotDog" value="Beef Taco">Beef Taco..........$6</option>
              <option class="hamburger" value="Chicken Taco">Chicken Taco....$7</option>
              <option class="cheeseburger" value="Taco Salad">Taco Salad........$8</option>
              <option class="beer" value="Beer">Corona.............$5</option>
              <option class="cheeseburger" value="Nachos">Nachos.............$8</option>
            </select>
            <tt class="yourChoice">Your Choice is = {{vm.menu.taco}}</tt><br/>

            <br>
            <label for="optionsMenu" id="choose"><img class="icon" src="http://icons.iconseeker.com/png/fullsize/curtains/popcorn-2.png" width="26px" height="26px" alt="">Gameday</label><br>
            <select name="optionsMenu" id="optionsMenu" ng-model="vm.menu.game" multiple>
              <option class="hotDog" value="Popcorn">Popcorn.............$5</option>
              <option class="hamburger" value="Peanuts">Peanuts..............$4</option>
              <option class="cheeseburger" value="Cracker Jax">Cracker Jax.......$6</option>
              <option class="beer" value="Cotton Candy">Cotton Candy....$5</option>
            </select>
            <tt class="yourChoice">Your Choice is = {{vm.menu.game}}</tt><br/>
          <!-- <select name="optionsMenu" id="optionsMenu" class="optionsMenu" ng-repeat="option in options" multiple>
            <option value="{{option.name}}">{{option.name}} for ${{option.price}}</option>
          </select> -->
        </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-success">{{vm.menu._id ? 'Edit Order' : 'Submit Order'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
